*{
    box-sizing: border-box;
}
body{
    font-family: Arial;
    padding: 10px;
    background: #bce2c9;
    margin: 0;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}


.list {
    /* width: 20%; */
    padding: 10px 5px;
    background: green;
    color: #fff;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex-basis: 25%;
    background-color: #f1f1f1;
    padding: 20px;
}
.main{
    flex-basis: 50%;
    background-color: white;
    padding: 20px;
}
.newing{
    background-color: #bce2c9;
    width: 100%;
    padding: 20px;
}
.footer{
    padding: 10px;
    text-align: center;
    background: white;
    margin-top: 10px;
}
@media screen and(max-with: 600px){
    .row,
    .navbar{
        flex-direction: column;
    }
}